h1 {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white !important;
    text-align: left !important;
    margin-left: 2em !important;
    font-size: 3.5em !important;
    letter-spacing: 3px;
}

.s1 {
    background: url('images/img1.png');
    background-size: cover;
}

.s2 {
    background: url('images/img2.png');
    background-size: cover;
}

.s3 {
    background: url('images/img5.png');
    background-size: cover;
}

.s4 {
    background: url('images/img4.png');
    background-size: cover;
}
.s5 {
    background: url('images/img6.png');
    background-size: cover;
}
.s6 {
    background: url('images/img7.png');
    background-size: cover;
}

span {
    background: white !important;
}

.fp-slidesNav.fp-bottom {
    margin-left: 1em !important;
}

#fullpage .s1 {
    padding-top: 56px; 
}

