.s1 h1 {
  font-size: 4rem; 
}

body {
  margin: 0;
  padding: 0; 
  background-color: black;
}

.s1, .s2, .s3, .s4, .s5, .s6, .s7 {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
}

.s1 {
  background-image: url('../images/IMG_2231.jpg');
}


.s2 {
  background-image: url('../images/….jpg'); 
}

.s3 {
  background-image: url('../images/🪐.jpg');
}

.s4 {
  background-image: url('../images/Coding at the Science Lab.jpg');
}

.s5{
  background-image: url('../images/Unknown.jpg');
}

.s6{
  background-image: url('../images/muscles.jpg');
}

.s7{
  background-image: url('../images/Premium\ Photo\ |\ Digital\ grid\ vertical\ background.jpg');
}

h1 {
  color:white;
}

span{
  background: rgb(236, 178, 211) !important;
}

h2{
  color: rgb(163, 212, 171);
  font-size: 3rem;
  display: flex;
  justify-content: left;
  align-items: flex-start;
}

.s3 h1{
  display: flex;
  margin-left: 100px;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
}


#menu {
  position: absolute;
  top: 50%;
  left: 20px; 
  transform: translateY(-50%);
  z-index: 1000; 
  background-color: pink; /* New: background color */
  padding: 20px; /* New: padding */
  border-radius: 10px
}

#menu ul {
  list-style: none;
  padding: 0;
}

#menu li {
  margin-bottom: 10px;
}

#menu li a {
  text-decoration: none;
  color: white;
}

#menu li a:hover {
  color: #f59edb;
}

h3{
  color: aliceblue;
}

a{
  color: aliceblue;
}

#box {
  position: absolute;
  bottom: 5%;
  left: 35%; 
  transform: translateY(-50%);
  z-index: 1000; 
  background-color: pink; 
  padding: 12px;
  margin: 20px;
  border-radius: 5px;
  display: flex;
  flex-direction: column; 
  align-items: flex-start; 
}

p{
  color: whitesmoke;
  position: relative;
  left: 10px;
  right: 50px;
}

.s2 #kirjeldus {
  background-color: rgb(149, 239, 126);
  margin: 20px;
  padding: 10px;
  border-radius: 5px;
  color: rgb(16, 71, 35);
}

#gameOutput {
  position: absolute; 
  bottom: 20px; 
  left: 50%; 
  transform: translateX(-50%);
  text-align: center; 
}
